<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MeltCalc.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <MeltCalc.Properties.Settings>
            <setting name="LooseMdb" serializeAs="String">
                <value>loose.mdb</value>
            </setting>
            <setting name="DatabaseRelativePath" serializeAs="String">
                <value>..\..\Database</value>
            </setting>
            <setting name="ParamsMdb" serializeAs="String">
                <value>params.mdb</value>
            </setting>
            <setting name="TeploPhisConstsMdb" serializeAs="String">
                <value>TeploPhisConsts.mdb</value>
            </setting>
            <setting name="MelpMdb" serializeAs="String">
                <value>meltdata.mdb</value>
            </setting>
        </MeltCalc.Properties.Settings>
    </applicationSettings>
</configuration>